.container, .sidebar, .sidebar-links, .header, .main-content, .cards, .announcements, .trends {
  border: 2px solid red;
}

.main-left, .main-right, .card {
  border: 2px solid green;
}

body {
  margin: 0px;
}

.container {
  display: grid;
  height: 100vh;
  width: auto;
  grid-template: 20% 80% / 20% 80%;
}

.header {
  grid-column: 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 30px;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
  display: grid;
  gap: 40px;
  grid-template-rows: 5% 25% 15%;
  padding: 5%;
  padding-right: 15%;
}

.main-content {
  grid-column: 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 70% 30%;
  padding-bottom: 5%;
}

.logo-container {
  display: flex;
}

.sidebar-links {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
}

.link-container {
  display: flex;
}

.header-row-1 {
  display: grid;
  grid-template-columns: 5% 70% 5% 5% 15%;
}

.header-row-2 {
  display: grid;
  grid-template-columns: 10% 60% 10% 10% 10%;
}

.main-left {
  display: grid;
  grid-template-rows: 10% 90%;
  padding-left: 3%;
  padding-right: 3%;
}

.main-right {
  display: grid;
  grid-template-rows: 10% 40% 10% 40%;
  padding-right: 8%;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}